[2018-06-05 12:19] githubfanster opened #2 "problem building RazorPageApp project.assets.json file not found"
Hello! Just downloaded this library to check it out.

I downloaded the zip file, then double-clicked on the .sln file.

i'm using Visual Studio 2017 Community Edition, my dotnet.exe and sdk version is 2.1.300.

this is the build error i'm getting:
Severity	Code	Description	Project	File	Line	Suppression State
Error		Assets file 'F:\jonsmith\EfCore.GenericServices-master\RazorPageApp\obj\project.ass

[2018-06-05 12:38] JonPSmith commented on #2
Hi @githubfanster,

Yep, I haven't updated my libraries to NET Core 2.1 yet. It's on my to do list but I'm on a contract too. I'll let you know when its done.

[2018-06-05 13:55] githubfanster commented on #2
thank you for replying.
i was able to get the first page up and running and the sorting semed to have worked.
i deleted the test and benchmarking projects, then updated target frameworks all to 2.1, then nuget updated any packages that had newer versions -- not just ef core stuff but also autofac etc. also, for the one or two projects that had efcore.genericservices dlls, i removed those dlls, and

[2018-06-07 09:01] JonPSmith commented on #2
NET Core versions released on NuGet:

* https://www.nuget.org/packages/EfCore.GenericServices/
* https://www.nuget.org/packages/EfCore.GenericServices.AspNetCore/

Along with my other libraries like https://www.nuget.org/packages/EfCore.TestSupport/  which have also been updated.

[2018-06-07 09:01] #2 closed

[2018-07-01 21:53] malfonso0 opened #3 "Async"
hi jon. not sure if i should write to you here.. or in your blog.. sorry in advance.

I love your library/framework.. i am starting in ASP.NET Core... and the dbcontext/repo/UoW/Service didnt work in my mind.. i finally found your blog and fall in love.

I am starting using the EFCoreGenericServices.. and would like to know what can i do for the following cases

1) Service with and without async:

[2018-07-04 13:18] JonPSmith commented on #3
Hi @malfonso0,

Sorry for the delay in replying - I was travelling. I am glad you found this library useful. Here are my answers to your questions:

1. You can choose either the sync or async version of the library for whatever action you are doing. In ASP.NET Core you should use [dependency injection](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2

[2018-07-04 13:18] #3 closed

[2018-07-04 20:29] malfonso0 commented on #3
Jon, thanks for the reply.
On 1.. OK.
On 2.. i have found that using the CRUDServices directly with a Entity throws the dbconcurrencyexception, but using it with a DTO it doesnt throw it.

i Have made a simple example. Asimple db entity, with ID, NAME, Friends ( collection of friends) and Rowversion(Timestamp)
a DTO, almost the same, without Friends and with FriendsCount. Just to practice i made t

[2018-07-05 07:48] JonPSmith commented on #3
Hi @malfonso0,

Let me explain the difference between the entity and DTO versions of the `UpdateAndSave` method in the EFCore.GenericServices library.

1. **Entity version**: This writes out the entity that you give it. If you passed the entity data via the HTTP request then it will use the EF Core `Update` method.
2. **DTO version**: This will read read in the entity from the database, copy in th

[2018-07-17 07:38] JonPSmith commented on #3
Hi @malfonso0,

Just to let you know that I have added the `SaveChangesExceptionHandler` feature, which allows you to capture and handle a exception when GenericServices calls `SaveChanges`. I have written [an article](https://www.thereformedprogrammer.net/entity-framework-core-validating-data-and-catching-sql-errors/) about it.

PS. Initially I set this up to only handle `DbUpdateException` but I

[2018-07-20 08:12] tesnep opened #4 "Disabling errors on Read no result"
Is there is way to disable errors on CrudServices.Read()? The reason I ask is I have to perform other CrudServices actions like CreateAndSave() on other entities and the IsValid property will not allow this to happen. I need to say "this is perfectly fine if you do not find any data" .

A use case is I am checking if an employee exists before deciding whether I want to send a duplicate error messa

[2018-07-23 02:44] tesnep commented on #4
I ended up remvoing the lines of code that add to errors in CrudServices and CrudAsyncServices for my local code. I've now make use of your library in two projects and about to make use of it in a third one. At some point I am going to buy you 10 coffees. Great work!

[2018-07-23 02:44] #4 closed

[2018-07-23 07:49] tesnep commented on #4
I bought you the coffees for now.

[2018-07-24 12:39] JonPSmith commented on #4
Hi @tesnep,

See [release 1.2.3] of GenericServices. It now has a configuration property called `NoErrorOnReadSingleNull` that allows you to turn off errors on null ReadSingle/Async calls.

See [the configuration docs](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Configuration-options#3-readsingle-and-nulls) for more info on this feature, plus the [unit tests](https://github.com/JonPSm

[2018-08-21 08:15] Twoleeland opened #5 "Open GenereicServices solution in VS2015 results in error"
Hello,

I have following problem with opening the solution in Visual Studio Pro 2015:
![21-08-_2018_10-08-50](https://user-images.githubusercontent.com/1656150/44389257-a62d5b80-a52a-11e8-9a20-4cb61bdb8b62.png)

Somehow the csproj-files are different to the "normal" csproj-files. That's why VS refuses to open the projects of the solution:
![21-08-_2018_10-14-49](https://user-images.githubuserconte

[2018-08-21 08:45] JonPSmith commented on #5
Hi @Twoleeland,

NET Core needs Visual Studio 2017 for NET Core - see https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x

[2018-08-21 08:45] #5 closed

[2018-08-26 09:23] tesnep opened #6 "Unable to find static ctor"
I have a static ctor IStatusGeneric `<T>` CreateT()  but when I debug it, it fails to find one regardless of whether I type the string ctor name (eg CreateUser or CreateUser(5)) or leave it blank. Surprisingly, entityInfo object lists out  PublicStaticCreatorMethod as that method. It also has CanBeCreatedByCtorOrStatiMethod as true and rightly lists 0 public ctors.

`Entity User is Hybrid with 3 m

[2018-08-26 11:49] JonPSmith commented on #6
Hi @tesnep,

I need a bit more information to give you some feedback. The typical reason is that the properties in your DTO/ViewModel don't match the parameters in your static method. Please provide:

- The entity class, especially the static factory method
- Your DTO/ViewModel
- Your call to the `CreateAndSave` method.

I'll have a look and see what it is.

[2018-08-26 21:31] tesnep commented on #6
Ok so here is the DTO.
[code]

This is the static method.

[code]

The call to CreateAndSave in controller is below.
[code]

This is the exception stacktrace when I pass CreateUser string
[code]

[2018-08-26 23:57] tesnep opened #7 "Unable to map read only collections"
I don't know if you have already tried this but if you wanted to map reviews in BookListDto it will silently fail.
DataLayer.EfClasses.Book
[code]
If you create a property Reviews in BookListDto
[code]
It will always be null even if you override in AlterReadMapping.
[code]
However, I do notice that you have a way to get Reviews count in BookListDto

[code]

[2018-08-27 08:05] tesnep commented on #6
It looks like CountryDto was the culprit. I also could not use context. But after playing around a bit, I was able to get it working.

[2018-08-27 08:05] #6 closed

[2018-08-27 16:51] JonPSmith commented on #6
Hi @tesnep,

Thanks for letting me know. What was it in the end? Certainly the exception my library produced wasn't that helpful  - this there any way I can improve it?

[2018-08-27 17:02] JonPSmith commented on #7
Hi @tesnep,

Thanks for sharing that - a useful suggestion.

I tend to use nested DTOs so that I can pick what I want to extract in the query. The Wiki documentation has a section on [Nested DTOs](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs#nested-dtos), with a link to an example in the unit tests.

[2018-08-27 17:02] #7 closed

[2018-09-08 13:24] baoduy opened #8 "[Question] Loading a Aggregate Root entity"
Hi, JonPSmith
Reading your EF Core book and planning to start a new project with EF core and follow DDD pattern. This library is useful and I plan to use it in the project. However, I have a question regarding to loading the Aggregate Root from Db we need to load all linking entity as well so when executing the IQuerydable we need to include all linking properties. Could you please recommend where

[2018-09-08 14:08] JonPSmith commented on #8
Hi Duy,

There are a few ways to do that, but I will explain how I go about this (with references to the book):

In Chapter 2 I cover *Query Objects* in section 2.6. That is s useful part to look at. My first question is, "do you really near to load ALL the linking entities (the aggregates)". I tend to use a Select query (section 2.4.3) to load exactly what I need. The example in section 2.6 is a

[2018-09-09 00:53] baoduy commented on #8
Hi @JonPSmith

Thanks for your reply, It realy useful and I will go with this approach, Since EF Core 2.1 supports Lazy Load. So instead of providing the DbConext to each buz actions We can create a private constructor with a LazyLoader parameter and load the make the linking properties load data on demand as below article.

https://docs.microsoft.com/en-us/ef/core/querying/related-data

Thanks fo

[2018-09-09 08:27] JonPSmith commented on #8
Hi @baoduy,

I'm glad that was helpful. I'm not a fan of lazy loading for performance reasons, especially in queries, but I think it's a good solution for loading relationships you want to update them.

NOTE: You don't have to provide a LazyLoader parameter if you use the Microsoft.EntityFrameworkCore.Proxies NuGet library and virtual relationship properties.

[2018-09-09 08:27] #8 closed

[2018-10-04 20:40] Falthazar opened #9 "Setup with WPF correct?"
I wanted to try and use this library for a practice app I am building, using WPF. I plan to eventually change the WPF to a web app, but thought it'd be easier to learn EF core/DI when I can build a quick interface and not have to learn web stuff as well.

Been reading your book and the Dependency Injection in .Net as well, so I am pretty knew to both concepts.

To start, I decided to build a WPF U

[2018-10-06 08:35] JonPSmith commented on #9
Hi @Falthazar,

You certainly don't need to dependence injection (DI) to make GenericService to work, so what you are doing will work. In ASP.NET Core DI is the preferred way to link things together, hence I use DI (I also find DI VERY useful, I would always use DI in medium/large projects).

Your `SetUpCrudServices` is fine. I do provide a method to register the service which also scans for DTOs.

[2018-10-06 08:35] #9 closed

[2018-10-06 23:48] baoduy opened #10 "How to find entities that have been soft deleted"
Hi @JonPSmith
As the QueryFIlter is a feature allow to define a default filter for the query when reading from the database if useful when We are using soft delete mechanism. However when ReadSingle by entity Id it should call IgnoreQueryFilters as we want to load an identify item via the keys.

Shall We call IgnoreQueryFilters by default for ReadSingle? I could able to provide a pull request for

[2018-10-07 08:55] JonPSmith commented on #10
Hi @baoduy,

I had to think this through as I am working a client's application that uses soft delete. I rejected the idea of adding `IgnoreQueryFilters` to the ReadSingle because it could cause problems when someone is using query filters to implement a multi-tenant system.

I have thought about adding a `ReadWithPreQueryFilter` method (see [this example](https://github.com/JonPSmith/EfCore.Gener

[2018-10-07 08:56] JonPSmith commented on #10
I'm leaving this open as I may implement `ReadManyWithPreQueryNoTracked` sometime in the future.

[2018-10-08 00:07] baoduy commented on #10
Hi @JonPSmith. I also was hardly thinking about this and agree with you that changes the ReadSingle behavior may cause many business issue instead of implementing a new method for that.

I may able to give a full request if you ok? Just confirm the method name is `ReadManyWithPreQueryNoTrack` or `ReadManyWithoutPreQueryNoTrack`?

Thanks and Regards

[2018-10-08 19:25] JonPSmith commented on #10
Hi @baoduy,

Thank you for the offer, but I have found its very easy to add new commands, but you are stuck with them forever. I now delay a bit until I have a better handle on the user cases for the command. At the moment there is a fairly simple work around so I'm not going to add that feature at the moment.

So I suggest you either use the work around I showed you earlier or clone the repo and

[2018-10-08 19:28] JonPSmith commented on #9
Hi @Falthazar,

I wasn't suggesting your implementation is incorrect - it's fine (and what I would use in a Azure Function). I was only explaining why I talked so much about DI in the book, because chapter 5 is about using EF Core in an ASP.NET Core application.

Carry on what you are doing - its all good.

[2018-10-16 08:27] vinayaroraincedo opened #11 "How to manage Unitofwork"
I've implement two different service, How to manage unit of work?

Any sample code would be helpful.

[2018-10-16 11:18] JonPSmith commented on #11
Hi @vinayaroraincedo,

GenericServices applies a SaveChange after each method - I end the method with `...AndSave` to emphasize that. If you want to call two services then you can either write your own wrapper that calls both services and then you call `SaveChanges`, or if your code is complex you might like to look at [EfCore.GenericBizRunner](https://github.com/JonPSmith/EfCore.GenericBizRunner)

[2018-10-16 11:18] #11 closed

[2018-10-22 12:32] philipweiser opened #12 "Update method matching on argument names and quantity"
Case:
DDDEntity
{
string Prop1{get; private set}
string Prop2{get; private set}

public void SetProp1(string prop1){Prop1 = prop1;}
public void SetProp2(string prop2){Prop2 = prop2;}
public void SetProp1And2(string prop1, string prop2) {Prop1 = prop1; Prop2 = prop2;}
}

using CRUDService, call UpdateAndSave on a DTO that has both properties Prop1 and Prop2.  It can't decide which method to use, as

[2018-10-24 11:31] JonPSmith commented on #12
Hi @philipweiser,

I looked into your case and I can see that a a DTO with the two properties  `SetProp1And2` would fit to all three options. That isn't what I wanted, and sometime I will improve the code to group by number of parameters and take the one with the highest number of parameters. I will leave this issue open so that I remember to fix this

In the meantime you can use the name of the D

[2018-10-27 09:17] #12 closed

[2018-11-03 01:31] baoduy opened #13 "Request transform Nested Properties from Dto to Entity when creating or updating feature"
Let's say, I have a Customer entity as below:

[code]

And Here is my Models
[code]

The Generic Service is failed to creating the Customer from Customer Dto as the nested property is not supported yet.
[code]
Expected: The tested Dto properties shall be transformed to entities by loading the entities from database.

Hope the Generic Service will support nested Dto for creating and updating soon i

[2018-11-03 09:50] JonPSmith commented on #13
Hi @baoduy,

This isn't a GenericServices issue, but an AutoMapper issue. For reverse mapping like this AutoMapper needs some configuration, which you need to provide via a `PerDtoConfig<TDto, TEntity>` config class ([link to docs about this class](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs#perdtoconfigtdto-tentity---optional-configuration-for-a-specific-dto)

[2018-11-03 09:50] #13 closed

[2018-12-08 18:41] djoyrocks opened #14 "How to use https://fluentvalidation.net for Models and Dtos"
Hi

How to use https://fluentvalidation.net for Models and Dtos with GenericServices

[2018-12-09 09:49] JonPSmith commented on #14
Hi @djoyrocks,

There isn't anything in GenericServices at the moment that could handle that. I will think about it (maybe something that runs before the call to SaveChanges), but I am very busy at the moment so its not going to get done quickly.

If you need a solution quickly I can think of a way to do this, but its not that nice. You could override the SaveChanges/SaveChangesAsync in your DbCon

[2018-12-17 13:41] NickBeukema opened #15 "Explicitly Calling Services and Injecting AutoMapper"
Hello,

I've been experimenting with your GenericServices platform and so far am really liking it. I like the separation it enforces between data models, services, dtos, and controllers. I do have one concern going forward with it:

The resolving of service methods happens at run-time, and gives little to no visibility to where that method is. This isn't a problem on a small scale, but once the ap

[2018-12-17 13:52] JonPSmith commented on #15
Hi @NickBeukema,

Well, that is interesting. I'm planning to add a `ProjectTo` method to the library to solve issue #10 over Christmas, but it won't do the reverse mapping you want.

I think the reverse mapping isn't useful enough to add that feature, but it is very easy to access the AutoMapper mappings, as its public in the the registered `IWrappedConfigAndMapper` instance - see the interface de

[2018-12-17 16:20] NickBeukema commented on #15
Fantastic, I'll be eagerly awaiting.

[2018-12-17 19:38] philipweiser opened #16 "The class X has 0 primary keys. I can't handle that."
Hello Jon,

I have a Query Type included in my DbContext, and I run into this error, "The class X has 0 primary keys. I can't handle that."  Is there a way to mark the query type so GenericServices skips it when initializing?

[2018-12-17 19:46] JonPSmith commented on #15
Have a look at the section article [Organising your CRUD code](https://www.thereformedprogrammer.net/is-the-repository-pattern-useful-with-entity-framework-core/#organising-your-crud-code) in my article "Is the repository pattern useful with Entity Framework Core?". This shows the pattern I have developed to make it easy to know where associated methods are.

You may like to look at an example of

[2018-12-17 19:50] JonPSmith commented on #16
Thanks @philipweiser,

I didn't know that! Thanks for letting me know. Your timing is perfect as I have arranged a break over Christmas from my clients to write some articles and work on a few issues in my library. I will add this one to the list.

I will leave it open until I have dealt with it.

[2018-12-24 15:31] JonPSmith commented on #15
Hi @NickBeukema,

I have created a preview version of EfCore.GenericServices 2.0.0-preview001 which contains code that allows you to put a pre-query in a projection. Have a look and see if it works for you and let me know. Then I will release it.

[2018-12-24 15:31] JonPSmith commented on #16
Hi @philipweiser,

I have created a preview version of EfCore.GenericServices 2.0.0-preview001 which contains code that fixes the problem with DbQuery types. Have a look and see if it works for you and let me know. Then I will release it.

[2018-12-26 14:58] JonPSmith commented on #15
Hi @NickBeukema,

I think there are three methods/patterns already in EfCore.GenericServices already. I list them with the most applicable first:

1. The `ProjectFromEntityToDto` command takes in a function. This means you can write any code you like in this, as long as to return an IQueryable<TEntity> result.
2. The [PerDtoConfig<TDto, TEntity>](https://github.com/JonPSmith/EfCore.GenericServices

[2018-12-29 14:04] baoduy commented on #10
Hi @JonPSmith
Just take a look on `ProjectFromEntityToDto` method, it works perfectly for my project and I can use it for both Read Single or Read Many alternatively.

Thanks

[2019-01-02 09:18] #10 closed

[2019-01-02 09:18] #14 closed

[2019-01-02 09:19] #15 closed

[2019-01-02 09:19] #16 closed

[2019-01-21 20:21] EddieDL commented on #15
@JonPSmith The ProjectFromEntityToDto works great, but I can't get some things to work at all.

1.  **Reverse of `ProjectFromEntityToDTO`:** I need the ability to do a `ProjectFromDTOtoEntity`. Initially I thought I could just use `ProjectFromEntitytoDTO` and just send reverse the types. I found that you specifically use `_configAndMapper.MapperReadConfig` which won't work when we want to use `Per

[2019-01-22 09:22] JonPSmith commented on #15
Hi @EddieDL,

I didn't implement the `ProjectFromDTOtoEntity` method because it means you are bypassing GenericServices, which is what your code shows. If you are calling EF Core directly then all you need is access the AutoMapper mappings inside GenericServices, which you are doing.

Basically what you are doing to access the AutoMapper mappings in GenericServices is correct, so there is a bug so

[2019-01-26 14:06] JonPSmith commented on #15
Hi @EddieDL,

Just wanted to check back to see if you solved your problem. I hope so.

[2019-01-29 09:16] JonPSmith commented on #15
Hi @EddieDL,

OK. Lots of things here but the key thing you said was:

If GenericServices doesn't work for you then that's fine, but I think you would be better off using AutoMapper directly. I wrote an article [Building high performance database queries using Entity Framework Core and AutoMapper](https://www.thereformedprogrammer.net/building-efficient-database-queries-using-entity-framework-core

[2019-01-29 14:31] philipweiser opened #17 "How to register one to many owned types"
Is it possible to register a one-to-many relationship of owned types?  When I try to register the class, GenericServices throws an error when it cannot find a PK on the owned type.

[2019-01-29 14:33] JonPSmith commented on #17
Have a look at https://docs.microsoft.com/en-gb/ef/core/what-is-new/ef-core-2.2#collections-of-owned-entities.

[2019-01-30 23:01] EddieDL commented on #15
@JonPSmith

Thanks for the feedback, this is a great discussion.

I want to clarify what I mean when I said:

We like and want to use many of the facilities of what I think of as GenericServices (`WebApiMessageAndResult`, `IStatusGeneric`, `ILinkToEntity<T>`, `StatusGenericHandler`, etc.). Where we have struggled is specifically with the `ICrudServices` and how it abstracts away everything. To the

[2019-01-31 10:18] JonPSmith commented on #15
@EddieDL,

I'm glad you like some of the support code I have build for GenericServices (I have a very similar set in my GenricBizRunner). The part you like are support code I have developed and enhanced over many years - you can find my original [GenericLibsBase](https://www.nuget.org/packages/GenericLibsBase/) which I built in early 2014. As such I suggest you copy those files you find useful and

[2019-02-12 18:31] msettlemeyer opened #18 "Exception when no default constructor matches the DTO properties"
Hi Jon,

I'm having an exception when attempting to use a DTO to update the DB. It looks like it might have something to do with being unable to find a constructor. I would have expected that it would fall back to Automapper in this scenario. The dtos are DDD style with private parameterless ctors and private setters on the classes. It's my understanding that Automapper can still map these types o

[2019-02-12 19:40] msettlemeyer commented on #18
My colleague figured it out, but I think you still have a bug where First is called in GetDefaultCtorOrMethod. It wasn't matching my constructor that has 2 parameters because the parameter names were not matched up (we had recently done some refactoring).

[2019-02-13 08:33] tesnep opened #19 "Use of Service Classes"
Hi @JonPSmith,
Can you please clarify how you are injecting (if you are even using) the Service interfaces inside the ServiceLayer/HomeController?

`namespace ServiceLayer.HomeController
 {
    public interface IListBooksService
    {
        Task<IQueryable<BookListDto>> SortFilterPage
            (SortFilterPageOptions options);
    }
}`

All I see is you're referencing ICrudServices in your Pag

[2019-02-13 08:47] JonPSmith commented on #18
Hi @msettlemeyer,

Glad you found that. You are correct that I have a bug, as it should have given you a list of possible matches and tell you why they didn't match. I'll add that to me bug list.

[2019-02-13 08:54] JonPSmith commented on #19
Hi @tesnep,

Yes, you are right. I wrote an article that compared hand-coded versions to using CrudServices. I don't call the hand-coded code anywhere. Sorry if that was confusing - I write so many articles that I lose track myself!

[2019-02-13 21:48] #19 closed

[2019-02-13 21:51] tesnep commented on #17
Your latest version is compiled to EF Core 2.1.

[2019-02-14 08:01] JonPSmith commented on #17
That isn't a problem. NuGet packages allow for you using it with other NuGet packages that are above the ones the library was built with (see [NuGet Versioning](https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards)). So, if you load EF Core 2.2 then that version will be used by the library.

I'm doing this myself as I'm looking at CosmosDb in EF Core 2.2

[2019-02-14 08:01] #17 closed

[2019-02-19 10:20] tesnep opened #20 "SortPageFilterPageOption does not work as intended"
I don't understand how PrevCheckState and NewCheckState is supposed to work when this class is instantiated for every request.
[code]

PageNum is then always set to 1.

[2019-02-19 15:48] JonPSmith commented on #20
Firstly, this is nothing to do with GenericServices - what you are seeing is my example application that demonstrates how to use GenericServices in an ASP.NET Core application.

The  `if (PrevCheckState != newCheckState)` test is used to reset the page number if anything other than the page number is changed. You need this because if you did a filter, sort etc, then you need the page number to ret

[2019-02-19 15:48] #20 closed

[2019-02-22 14:09] bleissem opened #21 "SqlException: Violation of PRIMARY KEY constraint"
Hello,
first of all thanks for your work on EfCore.GenericServices, we are using it.
Unfortunately there is a strange behavior when updating nested dto's
I created a project for you at
https://github.com/bleissem/TestNestedInDtosIssue13
and add a little description. So you should be able to reproduce the exception
SqlException: Violation of PRIMARY KEY constraint 'PK_AddressNotOwned'. Cannot inser

[2019-02-23 14:19] JonPSmith commented on #21
Hi @bleissem,

The error you show is a SQL exception and is about the primary key. I think this something about how you set the key. Have you tried writing the data out by hand, i.e. writing your own mapping code instead of using DTOs?

By doing that you know if its a database setup problem or a DTO copy problem.

[2019-02-23 22:35] bleissem commented on #21
Hello @JonPSmith ,

yes manual mapping will do. But that is not what I want to accomplish.
I just updated
https://github.com/bleissem/TestNestedInDtosIssue13

There are now 2 Controller Actions:
http://localhost:5000/api/values/worksgreat
http://localhost:5000/api/values/doesnotwork
As the name says one works, the other does not.

Feel free to look at the code
https://github.com/bleissem/TestNeste

[2019-02-26 23:41] tesnep commented on #21
@bleissem If you change using DTO to EF class
`InContactAddressDto updateDTO = service.ReadSingle<InContactAddressDto>(w => w.ContactAddressId == contactAddressId)`

To

`var updateEF= service.ReadSingle<InContactAddress>(w => w.ContactAddressId == contactAddressId)`
and create a new InContactAddressDto updateDTO to map from updateEF, does it work?

[2019-02-27 08:08] bleissem commented on #21
Hi @tesnep ,
thanks for your suggestion.
Not using DTO's is something I don't want to accomplish.
In my real world szenario there a certain mappings that are done with the PerDtoConfig class.
Also the DTO object is passed into the controller action by the frontend.
So not using DTO's is not an option for me.

The example I provided is just related to [a unit test](https://github.com/bleissem/EfCor

[2019-02-27 12:07] JonPSmith commented on #21
Hi @bleissem,

I have added a unit test part to your application (pushed to master so you can get it) and I can't see anything wrong with GenericServices. I wonder if your dapper code isn't working properly??

Anyway, its not GenericServices so I am closing this issue.

[2019-02-27 12:07] #21 closed

[2019-02-27 12:10] JonPSmith commented on #21
Sorry - push to the GitHub wasn't allowed. Here is my unit test

[code]

[2019-02-27 14:18] bleissem commented on #21
Hi @JonPSmith ,
thanks for providing code to the testproject. I added you as a Collaborator.
Fortunately your comit
Commit e71c02fe
made it to the Repo.

To show the error on calling the UpdateAndSave funtion, I just did another commit
Commit 6ce7148e
to the
TestCallControllerMethodDoesNotWorkOk
function.
When calling
service.UpdateAndSave(toBeUpdated);

there is an exception being thrown
AutoMapp

[2019-02-27 14:34] JonPSmith commented on #21
OK. Two things.

1. The error is a AutoMapper error so you need to look at how to solve that.
2. If you solved the AutoMapper problem I would still recommend using EF Core directly because you are saving a relationship where one is new (ContactAddress), and the relationship (AddressNotOwned) was read in (i.e. tracked) as part of GenericServices's ReadSingle. That's pretty complex, and did you mean

[2019-03-11 09:40] MartijnSchoemaker opened #23 "Order and Take are evaluating locally"
I've an issue with a query that's using OrderBy and Take that's evaluating locally instead of in SQL. Probably I'm doing things wrong, hope you can help me out.

My Entities are:
[code]

My DTOs look like this:
[code]

When I query via DbContext everything works fine:
[code]

This generates this SQL:
[code]

But when I query via ICrudServices / DTOs the ORDER BY and TOP are not in the SQL:
[code]

[2019-03-11 11:12] bleissem commented on #21
Hi @JonPSmith ,
i've been off a few days and didn't response.
I just updated
https://github.com/bleissem/TestNestedInDtosIssue13
and adjusted some things to avoid the automapper errormessage.
I think the automapper related errors are now gone.
I also include the GenericServices Code to be able to show you exactly when the test fails and when it does not fail.

For the test:
TestCallControllerMetho

[2019-03-13 12:14] JonPSmith commented on #23
I can see that. If you think about it you are asking EF Core to order on a value that hasn't yet been read in (it's complicated, but the DTO causes the SQL to put the data in a variable).

Thankfully there is a solution in the method [`ProjectFromEntityToDto`](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Read#projectfromentitytodtotentitytdtopredtolinqquery), which allows you to add LI

[2019-03-18 16:15] MartijnSchoemaker commented on #23
Thanks for your answer. This solution is working. But there's one disadvantage with this solution.
CrudServices are used in the presentation layer. In this layer I should only know about DTOs, not about the data entities.

What's your thought on this?

[2019-03-18 18:15] JonPSmith commented on #23
Firstly good, that was the fix - if you want to known why you couldn't do that read section 2.5.2 (page 45) as to why.  I will close this issue as its not a problem in GenericServices.

Here are my thoughts on your more general issue of not having any access to the entity classes in your presentation layer.

1. Does it matter? For some small entity classes I load them directly, so my presentation

[2019-03-18 18:15] #23 closed

[2019-03-19 18:19] Spinarooni opened #24 "DTO Not Registered as Valid CrudServices DTO"
[code]

I have verified that the DTO does have the ILinkToEntity interface implmeneted with the corresponding entity.  Any other things I can check?  I'm out of ideas at this point.

[2019-03-20 13:07] Spinarooni commented on #24
I figured out the issue.  I had specified the wrong assembly in the services registration.

`services.GenericServicesSimpleSetup<DbContext>(Assembly.GetAssembly(typeof(AssemblyWithDTO)));`

[2019-03-20 13:07] #24 closed

[2019-03-20 17:04] JonPSmith commented on #24
👍

[2019-03-26 06:59] bleissem opened #25 "Updating nested DTO's fails with exception"
Hi @JonPSmith ,
i've been off a few days and didn't response.
I just updated
https://github.com/bleissem/TestNestedInDtosIssue13
and adjusted some things to avoid the automapper errormessage.
I think the automapper related errors are now gone.
I also include the GenericServices Code to be able to show you exactly when the test fails and when it does not fail.

For the test:
TestCallControllerMetho

[2019-03-26 07:00] bleissem commented on #25
Hi @JonPSmith,
it seems to be that I can not reopen an issue, so I just open up a new issue and took my last message from #21

Regards
Alex B.

[2019-03-26 14:54] JonPSmith commented on #25
Hi @bleissem,

Sorry, but I don't have the time to debug your specific problem. This is a open-source project that I do in my spare time (?!). I'm pretty sure its a problem with your database/query setup (see my comments about track and untracked entity updates) - that's why you are getting the unique constraint error. Try using a SQL database - it gives you more info on what is wrong.

[2019-03-26 14:54] #25 closed

[2019-04-04 14:36] JonPSmith commented on #18
This is fixed in release 2.0.2

[2019-04-04 14:36] #18 closed

[2019-04-04 20:30] Spinarooni opened #27 "PerDtoConfig Support For Primitives?"
Would it be possible for the PerDToConfig to support primitive value mappings to objects?  What I have is a scenario where I pass an ID collection of ints to the client and then when they are sent back I need to map those IDs to an object collection.

Right now there is a type restriction on the PerDtoConfig class so I am not sure what kind of impact a change like this would have.

[2019-04-05 13:27] JonPSmith commented on #27
Firstly I'm not quite sure what you mean with "primitive value mappings to objects". Are the objects in an array, or in the database, or injected?

While you can do some very clever mappings in AutoMapper via the `ForMember` method (see [GenericServices docs](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs#perdtoconfigtdto-tentity---optional-configuration-for-a-sp

[2019-04-05 13:35] Spinarooni commented on #27
@JonPSmith The objects are in a Collection and the primitive values are in an array.  For instance:

`[1,2,3]` would need to map to a collection of objects where the object is like `class MyEntity { public int Id { get; set; } ...other props }`

[2019-04-05 13:44] JonPSmith commented on #27
So reading from the database. That's possible but hard, because you don't have the DbContext in the PerDtoConfig class. You could use a SQL user defined function, which you can call without the DbContext, but that's about it (see example [here](https://github.com/JonPSmith/EfCoreSqlAndCosmos/blob/master/DataLayer/NoSqlCode/Internal/ApplyChangeToNoSql.cs)).

Personally I would write my own service

[2019-04-05 13:47] JonPSmith commented on #27
PS. If you can make the entities have a relationship with the main entity class it gets much easier.

[2019-04-06 13:41] #27 closed

[2019-05-22 08:20] Tealons opened #28 "Read many tracked?"
We are using the GenericServices library for our project and it is very useful in almost every scenario! Except when update a list of objects. For example: a list of object with a bool property we want to toggle. In that case, a read many function that can read tracked database models would be handy. Is there any reason why you implemented this for the read single, but not the read many function?

[2019-05-22 09:32] JonPSmith commented on #28
Hi @Tealons,

I have tried to keep the GenericServices library very focused on straightforward CRUD - that way the library easy to understand and use. For complex CRUD I write a small service using EF Core directly.

So, in your situation I would write a small class to implement what you need, must likely using GenericServices' `IGenericStatus` status and dependency injection to make it work in th

[2019-05-22 09:32] #28 closed

[2019-05-25 10:23] tesnep commented on #28
This could be a very good update based on performance. They will fix this issue in version 3.`https://github.com/aspnet/EntityFrameworkCore/issues/14366`

[2019-05-25 13:11] JonPSmith commented on #28
Hi @tesnep,

Yes, that looks very interesting! I compared GenericServices against hand-coded versions, both both used AsNoTracking. It does look like there are cleaning up a whole load of small issues in EF Core 3.0. Can't wait!

[2019-06-10 13:27] S0PEX opened #29 "UpdateAndSaveAsync() returns Success but throwns Object is not registered as entity class"
Hey,

I am currently working on my side project and found this library after reading your book.
Everything seems to work fine but for some reason, the UpdateAndSaveAsync() method returns success but then later EF Core throws `The class Object is not registered as entity class in your DbContext PanelContext.`
Maybe you have a clue what's going on there because I had no luck debugging this issue.
Th

[2019-06-15 13:15] JonPSmith commented on #29
Hi @S0PEX,

Sorry for the delay in replying - very busy at the moment.

The message `The class Object is not registered as entity class in your DbContext PanelContext` is produced by GenericServices and means that the `input` into the `UpdateAndSaveAsync` method was neither a DTO (i.e. a class with the `ILinkToEntity<TEntity>`) or a class that EF Core maps to the database.

From the code you give

[2019-06-15 20:54] S0PEX commented on #29
I just resolved the error. After you mentioned that it should actually output the class name instead of `object` I double checked my implementation, because I wrapped your methods to forward the errors to my GraphQl API response, and indeed the input parameter type was `object` I then changed it to a template type and its working correctly.

Thanks for the hint.

I was also wondering if there is a

[2019-06-16 07:58] JonPSmith commented on #29
Hi @S0PEX,

Glad my comment helped. I will close this issue.

On your exception/`service.isValid` question they are two very different, and separate, devices to report errors:
* `service.isValid` etc. is for reporting errors/messages that you can return to the user. They are designed to by human-friendly and not include any information that might reveal anything about how your application works.
*

[2019-06-16 07:58] #29 closed

[2019-07-13 01:36] jenseralmeida opened #30 "DTO with no properties causes null exception"
Hi,

I have this code in https://gist.github.com/jenseralmeida/a51b55b2eb5d1e42a5ebd3e0ef2bd269 which is failing without a proper message explaining what I did wrong. The exception should clearly state that the DTO does not have any writable property, instead of a NullReferenceException later on the code where an instance value was expected.

I am pasting the failing method just below.

![image](h

[2019-07-13 08:42] JonPSmith commented on #30
HI @jenseralmeida,

OK, having a DTO with no properties will cause an error as here must be properties there to match with something. To answer your question on immutable support - yes, it will match the DTO names/types to ctors or public methods in the class - see [DDD entity patterns](https://github.com/JonPSmith/EfCore.GenericServices/wiki/DDD-entity-patterns) docs for how it matches.

PS. You

[2019-07-15 18:56] jenseralmeida commented on #30
I have changed the title of the issue to "DTO with non-writable properties causes null exception" and I did update the test removing the DI. Thanks for pointing me that.

[code]

[2019-07-15 22:30] jenseralmeida opened #31 "Method mapping is failing for a simple single field scenario"
When calling the code below the following exception is triggered

[code]

[code]

The complete solution code can be seen at https://gist.github.com/jenseralmeida/b299a11de8e5b281e7af39e83838ae4c

[2019-07-24 13:54] JonPSmith commented on #31
Hi @jenseralmeida

I can see the error but I don't think your PR wouldn't cover all the usages of the `ParametersMatch` class. Have you run all the unit tests on you version? Do they all pass with your changes?

Can I understand what you are wanting to do. From your original issue #30 I assume you want to have DTOs with non-public, or missing, setters. I can see that would make sense in some cases

[2019-07-28 23:06] jenseralmeida commented on #31
Hi @JonPSmith ,

Thanks for taking the time to evaluate this. So, this issue is unrelated to issue #30, and I will be answering the points related to the PR and issue #30 on the corresponding issue.

Now, getting back to this issue, the code presented on it is a simplification of one code I have tried and the described exception happened. For this issue, I could not understand how to work around t

[2019-07-28 23:47] jenseralmeida commented on #30
Hi @JonPSmith ,

I am bringing the following points from the comment https://github.com/JonPSmith/EfCore.GenericServices/issues/31#issuecomment-514642221 to this context, as the questions were related to this issue. Before discussing your points, let me give to you an overall overview of what I have done.

This specific issue is about me trying to use an invalid DTO mapped to an immutable class, a

[2019-07-29 10:21] JonPSmith commented on #31
OK, Now I understand a bit more.

Issue #31 you have hit a bug that I know about but haven't got round to fixing it because a) its complicated and b) there is a workaround, c) I was busy!

I have a fix now and working on #30 before I issue a new version. My be a delay as I have client work coming up.

[2019-07-29 10:48] JonPSmith commented on #30
This is fixed in version 2.0.3

Note that the issue was having NO properties in the DTO, not that they were read only.

[2019-07-29 10:48] #30 closed

[2019-07-29 10:48] JonPSmith commented on #31
This is fixed in version 2.0.3.

[2019-07-29 10:48] #31 closed

[2019-09-06 13:56] adria3a3 opened #33 "AutoMapper upgrade to version 9.0.0 results in error: MissingMethodException IgnoreAllPropertiesWithAnInaccessibleSetter()"
We are trying to update all packages in our solution to the latest versions. When upgrading AutoMapper to version 9.0.0 to following error occurs:

[code]

The depedencies of GenericServices are:
AutoMapper (>= 7.0.1)
Microsoft.AspNetCore.JsonPatch (>= 2.1.1)
Microsoft.EntityFrameworkCore (>= 2.1.1)

It would be nice that GenericServices is compatible with the latest version of AutoMapper.

[2019-09-06 14:18] JonPSmith commented on #33
Hmm. I didn't know that! I'm busy on a contract so I'm not sure when I will get to it, but its now on my list!

[2019-09-18 19:23] Tealons commented on #33
We are also doing an upgrade of our application and are running into this problem. Do you have a ballpark ETA @JonPSmith ? We can also look into creating a PR if that's something that would be accepted by you.

[2019-09-19 07:19] JonPSmith commented on #33
I plan to look at this during the upgrade into EF Core 3. Hopefully in October.

If you want to look at how to replace the missing `IgnoreAllPropertiesWithAnInaccessibleSetter` method then please do. You can PR if before October, or just send me what you have found.

[2019-09-19 19:35] Tealons commented on #33
I'm not sure if there will be time in the coming weeks because one of our team members is leaving. Can give a ping in this issue when you start working on it? I will do the same if my team has the time to do it.

[2019-09-23 22:10] BryceBarbara opened #35 "Separator only has one E in it"
There are multiple locations in the code base where "separator" is spelled as "seperator".

[2019-09-30 06:03] baoduy commented on #33
Let me take a look on this hope I could able to give an PR in couple of days.

[2019-09-30 07:17] JonPSmith commented on #33
Hi @baoduy,

Fine by me. Do make sure the unit tests are updated/passed.

I will be working on the NET Core 3.0 version next week.

[2019-10-04 14:47] JonPSmith commented on #33
Hi @baoduy and others,

I have just released a new version of EfCore.GenericServices, version 2.1.0-preview001 which uses AutoMapper 9.0.0.

**Please can you check this works with your system soon**, as I plan to release a NetStandard2.0 and NetStandard2.1 version next week.

PS. Version 9 of AutoMapper has a `IgnoreAllPropertiesWithAnInaccessibleSetter` method so I can only assume signature chang

[2019-10-05 14:07] baoduy commented on #33
@JonPSmith
Wow so fast, I still stuck with my system. However, I will test the package now and let you know if any issues as the current in-develop project is using your package.

[2019-10-05 16:27] baoduy commented on #33
Hi @JonPSmith
I think the package is fine. However, as Auto Mapper 9 is not supporting  'CreateMissingTypeMaps'. We need to fix some mapping issues.

The below class of package 'EfCore.GenericBizRunner' needs to be fixed as well.
[code]

[2019-10-06 01:44] baoduy commented on #33
Seems upgrading to version 9 needs a huge effort to add `[AutoMap(typeof(SourceClass))]` to all Dto class even it already `ILinkToEntity<SourceClass>`.

[2019-10-07 08:45] JonPSmith commented on #33
In reply to @baoduy,

Are you aware on how GenericServices sets up AutoMapper. It builds a separate read/write IMapper from any normal AutoMapper usage so that they don't get confused. It does this using the standard, i.e. not the new `[AutoMap(...)]` approach. See [this page in the docs](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs).

This means GenericService

[2019-10-07 08:48] JonPSmith commented on #33
PS. GenericServices supports nested DTOs - see [Nested DTOs](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs#nested-dtos)

[2019-10-07 13:37] Tealons commented on #33
I tested in one of our smaller project and it seems to work fine! We however now have issues with Automapper and xUnit we need to solve :)

Gives us some time to wait for the stable release of this change and the upgrade to .NET Core 3.0

[2019-10-07 13:55] baoduy commented on #33
Hi @JonPSmith
Sorry seems my message is confusing you. The `CreateMissingTypeMaps = true;` need to be removed from class `BizRunnerProfile` as this property deprecated on Auto Mapper 9.

[2019-10-07 13:57] JonPSmith commented on #33
Ok, that makes more sense! Thanks.

[2019-10-08 01:54] baoduy commented on #33
Hi @JonPSmith
I have tested the latest version of EfCore.GenericServices with a PRD app. It is working fine still now. As there a many breaking on Auto Mapper v9 so I'm using the Auto Mapper v8 as of now.

[2019-10-11 18:35] VictorioBerra opened #36 "EF Core 3 issue?"
Got:

[code]

when doing:

[code]

[2019-10-11 18:37] VictorioBerra commented on #36
I don't see that method here https://github.com/aspnet/EntityFrameworkCore/blob/release/3.1/src/EFCore/Metadata/IEntityType.cs

[2019-10-11 18:41] JonPSmith commented on #36
I am currently working on GenericServices to supports NET Core +=2.1 and Net Core >=3.0. I will let you know when I have a version.

[2019-10-11 18:42] VictorioBerra commented on #36
Sounds great, thanks Jon.

[2019-10-12 16:47] JonPSmith commented on #35
This is fixed in Version 3.0.0, which is now out.

[2019-10-12 16:47] #35 closed

[2019-10-12 16:50] JonPSmith commented on #33
I have just released version 3.0.0 to support EF Core >=3.0 (and still support EF Core >=2.1). This uses AutoMapper 9.0.0.

Note: There is also a new `EfCore.GenericBizRunner` (Version 4.0.0) with EF Core 3.0 support and that also uses AutoMapper 9.0.0.

[2019-10-12 16:50] #33 closed

[2019-10-12 16:52] JonPSmith commented on #36
I have just released version 3.0.0 which supports EF Core >=3.0 (and still supports EF Core >=2.1).

[2019-10-12 16:52] #36 closed

[2019-10-12 21:49] VictorioBerra commented on #36
Great work!! Will try shortly!

[2019-11-03 01:03] ComtelJeremy opened #41 "NullReferenceException when adding to services with ILinkToEntity<> to an Entity in TPH"
I am trying to use Generic Services with an entity that has a table per hierarchy inheritance. It appears that as soon as I run RegisterGenericServices the library throws a NullReferenceException. Is there a workaround, or is there some configuration I am not doing to enable this to work? Any guidance would be appreciated. The stack trace is below:
[code]

[2019-11-03 07:17] ComtelJeremy commented on #41
Doing some more digging. It could be less related to TPH and more to having a public constructor. I'll run some more tests in the morning and let you know. The stack trace has been a little challenging to follow, but I'm getting there. :-)

[2019-11-12 19:14] ComtelJeremy commented on #41
@JonPSmith any comment? For now I have had to handle the mapping with a Select, since I was not able to get the dto mapping to work with an TPH sub-class. I tried removing the parameterless constructor I was using for some initialization, and no joy. Any guidance you could provide would be invaluable at this point.

[2019-11-13 08:58] JonPSmith commented on #41
I'm really busy at the moment but I'll try to have a look soon. No promises.

PS. Don't be afraid to use direct EF Core commands if GenericServices can't do something. When I write code a use GenericServices al, but if the query is complex I often write it out by hand. Also, GenericServices does provide you with the DbContext (via the Context property).

[2019-11-14 08:37] JonPSmith commented on #41
@ComtelJeremy, Please provide the TPH classes and the DbContext that causes this problem.

[2019-11-14 19:31] ComtelJeremy commented on #41
Thanks for the comments, @JonPSmith. I have not been able to recreate in a separate solution (that I can share), but have narrowed it down... It appears the Exception only occurs when all of the properties in the dto (including some with custom readonly mappings) are marked with the [ReadOnly(true)] attribute. If I remove even just one of those ReadOnly attributes, the web app runs. In any case, i

[2019-11-14 19:31] #41 closed

[2019-11-14 19:44] JonPSmith commented on #41
OK. Maybe there is a bug if there are all read-only, but I don't think its a big issue so I will leave it for now.

Glad the library is useful to you. All the best with your projects.

[2020-01-08 15:01] rfcdejong opened #42 "Writing to the response body is invalid for responses with status code 204."
Using in .NET Core 3.1

EfCore.GenericBizRunner  4.0.0
EfCore.GenericServices.AspNetCore 4.0.0

The following code

[code]

service.Response(null) says

However null results into the following exception:

I have removed all formatters and just using a clean "UseMVC()" in my startup.

[2020-01-08 15:08] rfcdejong commented on #42
Wrong repository, will add to the right one now

[2020-01-08 15:08] #42 closed

[2020-01-31 16:09] rfcdejong commented on #41
I get nearly the same exception, so far no idea why..

   at GenericServices.Internal.Decoders.BestPropertyMatch..ctor(String name, Type type, PropertyInfo propertyInfo)
   at GenericServices.Internal.Decoders.BestPropertyMatch.FindMatch(String name, Type type, IEnumerable`1 propertiesToCheck)
   at GenericServices.Internal.Decoders.BestPropertyMatch.FindMatch(PropertyInfo propertyToMatch, IEnumer

[2020-01-31 17:07] rfcdejong commented on #41
Seems my Entity has no primary key (it isn't needed) and then DecodedDto.cs line has entityInfo.PrimaryKeyProperties count 1 with a null in it so FindMatch fails

[2020-02-01 09:16] JonPSmith commented on #41
That's a different issue. GenericServices only works with an entity that has a primary key because it loads the entity via its primary key.

You will need to use EF Core directly for your entity that hasn't got a primary key.

[2020-02-03 09:06] rfcdejong commented on #41
I will fill a new issue, it happens using CosmosDb and then a navigation OwnsOne to embed a resource.

[2020-02-03 09:27] rfcdejong opened #43 "NullReferenceException using ILinkToEntity and embedded resources for CosmosDb"
Using CosmosDb with Entity Framework Core it is not possible to use nested resources. Having the following code:

[code]

With some Dto's

[code]

EF does not allow to define the entity without a key and using OwnsOne, but I can leave the follow line away.
`modelBuilder.Entity<PersonAddress>(pa => pa.HasNoKey());`

Setup and then Registering the DtoType's crashes because it expects a primaryKeyPro

[2020-02-03 09:42] rfcdejong commented on #43
Sadly, just adding a Key on an new Id property to PersonAddress doesn't do the trick.
Then at runtime it turns into another null reference exception

[code]

For now I will not use ILinkToEntity and will try to use Automapper directly

[2020-02-08 09:53] JonPSmith commented on #43
If you look up about [Owned types](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities) you will see the class is contained in the outer entity class, i.e. the data becomes part of the outer entity class. Therefore you can only access that data via the outer class.

This means that the adding `ILinkToEntity<PersonAddress>` isn't going to work. You should be using nested DTOs [as descr

[2020-02-08 09:53] #43 closed

[2020-03-16 18:38] andreqb opened #44 "QueryTrackingBehavior.NoTracking and Updates"
Hi @JonPSmith, I am running into an issue/feature :) with this library.  When I wireup my DbContext in startup with the `QueryTrackingBehavior.NoTracking` then calling subsequent Update methods on the CrudServices nothing gets updated which makes sense.  If this is the intent can there be a something in GenericStatus that tells us nothing was affected or indicating the NoTracking status?

[2020-03-27 15:20] CSorel-Catalyte opened #45 "Scanning DTOs in Assembly with Multiple Contexts Fails"
I have a data model assembly that contains all of my entities and dtos. It has multiple contexts, for which some of my entities/dtos are associated to each.

I have multiple APIs each of which may only use one of several contexts.

When I call
[code]

I get the following error because it is finding dto's for the other contexrt

Edit: If I add the other contexts to the ConfigureGenericServicesEntit

[2020-03-28 09:14] JonPSmith commented on #45
What I think you are saying is:
1. You have multiple DbContexts
2. You have multiple DTOs, which are used in one of the DbContexts, i.e. your comment

On the first point, multiple DbContexts, you need to register ALL the DbContexts in one call. I show that in the [Installing GenericServices with DI in ASP.NET Core](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Installing-GenericServices

[2020-04-02 15:10] CSorel-Catalyte commented on #45
Not exactly. I had a single assembly with multiple contexts and multiple entities.
The entities were only added to the relevant context.

In my APIs, I only add the necessary contexts. However, because there were DTOs in that assembly that were not included in any loaded context in the API, I get an error.

I wanted to have a single assembly for all of my data model but not have to load up all con

[2020-04-04 08:06] JonPSmith commented on #45
You must include all the DbContext and all the assemblies that contains your DTOs in the initial `ConfigureGenericServicesEntities`  (note: you can provide multiple assemblies to to be scanned).

If you are doing that and still getting an issue then it could be that you used a IlinkToEntity with a Owned Type (Owned Types aren't always mapped to the database).

[2020-04-04 08:06] #45 closed

[2020-04-04 15:17] CSorel-Catalyte commented on #45
I don't think you're understanding my issue. There are valid cases where I want to have multiple contexts and DTOS in one assembly but not use them all in one web project. Specifically a shared data model across multiple microservices that may need to interoperate.

The issue is not that I'm not including all assemblies, it's that unless I load every context in the assembly, it yells at me that it

[2020-04-05 08:30] JonPSmith commented on #45
OK, I get understand now, but that is quite unusual situation. The normal registering approach can't handle that and its so unusual that I don't plan to support it.

You *might* be able to use the [code used for unit testing](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Unit-testing-your-code), which allows you to manually register each DTO, but if you have a lot of DTOs its going to b

[2020-04-10 09:22] JonPSmith commented on #41
I wrote a unit test for a dto where all the properties have a `[ReadOnly(true)]` attribute on them. Couldn't get an error. Not sure what it was but I have improved the handling of nulls around the place where the exception came.

[2020-04-10 09:34] JonPSmith commented on #44
Hi @andreqb,

Working with `QueryTrackingBehavior.NoTracking` is a unusual approach and I decided not to add checks in the code as it hit too many places. I have updated the [update documentation](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Update) though.

[2020-04-10 09:34] #44 closed

[2020-04-13 22:54] andreqb commented on #44
@JonPSmith  thanks for having a look. When. I do reporting stuff I usually set this propertyfor performance reaaons. I suppose using a different context with the default behavior would work.

[2020-05-09 15:12] marius-stanescu opened #47 "Object not set to an instance of an object"
I am using EfCore.GenericServices 3.1.0.

I started getting a `NullReferenceException` when configuring generic services, after making a change in my entity.

The exception with stack trace:
[code]

This is how I configure GenericServices:
[code]

This is my entity (the relevant parts):
[code]

This is what I added in my entity:
[code]

[2020-05-10 08:22] JonPSmith commented on #47
Hi @marius-stanescu ,

Can you provide the DTO that you have and also the call to the GenericServices. Thanks.

[2020-05-10 09:49] marius-stanescu commented on #47
I have around 8 DTOs that use `ILinkToEntity<Location>`.  I think it's too much to post them all here. I couldn't figure out which one is causing the issue. Only one of the DTOs has a `Facilities` property, but I commented it out and the exception is still thrown.
This is the DTO:
[code]

[2020-05-10 11:51] marius-stanescu commented on #47
I narrowed it down to this model. If I comment-out this model then there's no exception.

[code]

[2020-05-10 17:59] JonPSmith commented on #47
OK. Your last comment shows a class called `LocationAddressModel` with inner classes that have classes with ` ILinkToEntity<T>`. That's not allowed, as GenericServices would need to create the outer class to get as the inner classes.

The way to handle nested data to to create separate DTO/VMs - see [this doc](https://github.com/JonPSmith/EfCore.GenericServices/wiki/GenericServices-and-DTOs#nested

[2020-05-10 18:42] marius-stanescu commented on #47
Ok. Thanks a lot. I'll try to fix it tomorrow and I'll let you know if it worked. Sorry, these DTOs were implemented by someone else. Didn't even realize they were nested.

[2020-05-11 05:32] marius-stanescu commented on #47
OK, so I updated EfCore.GenericServices to the latest available version (3.2.1). The exception message is the same.

It seems that the exception is not related to the nested classes, but to the fact that the model doesn't contain any of the main entity properties, but only properties of a child entity. If I add a model property with the same name or if I alter the read mapping to use one of the pr

[2020-05-11 07:24] JonPSmith commented on #47
Yes, it does sound that there is a problem if there is no properties in the DTO/VM that match the properties in the entity class the DTO/VM links to. That can only happen on a Read, so that might be a help.

I'm deep in another project at the moment so it will be some weeks before I can look at this. I suggest you use normal EF Core code to implement your read for now.

[2020-05-11 07:28] marius-stanescu commented on #47
Thanks a lot. For now, I just did a workaround/hack. I added a property from the main entity with a `[JsonIgnore]` attribute. So GenericServices works, all needed properties are retrieved along with the main entity property which is not displayed in the view model result because of the `JsonIgnore` attribute.

[2020-05-11 11:55] Al-Sharif opened #48 "GenericServiceErrorHandler not exist"
I Installed EfCore.GenericServices nuget package, but there's no GenericServiceErrorHandler

[2020-05-11 13:05] JonPSmith commented on #48
I'm not sure what you are looking for - what do you mean by `GenericServiceErrorHandler`?

If you are after the `IStatusGeneric`, then its in the NuGet  package [GenericServices.StatusGeneric](https://www.nuget.org/packages/GenericServices.StatusGeneric/).

If you are after the exception handler its in the configuration setup - see [this section](https://github.com/JonPSmith/EfCore.GenericServices

[2020-05-18 18:16] JonPSmith commented on #47
Hi @marius-stanescu,

I tried to recreate the issue you are having and my version didn't fail - see [TestIssue47](https://github.com/JonPSmith/EfCore.GenericServices/blob/master/Tests/UnitTests/TestIssues/TestIssue47.cs).

Can you look at this test and check I have recreated the issue.

[2020-05-22 08:25] JonPSmith commented on #47
I had another look at this and the problem and it must must be something to do the methods/ctors in the class in the `ILinkToEntity<T>`, but I can't spot anything.

If you want me to look at this then please provide the full definition of the the class in the `ILinkToEntity<T>`.

[2020-05-22 10:26] marius-stanescu commented on #47
Sorry for answering late. Here is the `Location` class:

[code]

[2020-05-22 19:02] JonPSmith commented on #47
Hi @marius-stanescu,

I still couldn't recreate your problem. In the end I have altered some code so that it won't throw an exception where you had one, but maybe it will fail somewhere else.

When you get a change to use it (version 3.2.2) let me know if it fixed anything. No rush.

[2020-05-25 04:31] marius-stanescu commented on #47
Hi @JonPSmith,

I updated to 3.2.2 and the exception is not thrown anymore. So, I removed my hack/workaround of adding a new property on the model with the `[JsonIgnore]` attribute.

Thank you!

[2020-05-25 04:42] marius-stanescu commented on #47
And about the test you wrote ([TestIssue47](https://github.com/JonPSmith/EfCore.GenericServices/blob/master/Tests/UnitTests/TestIssues/TestIssue47.cs)), it doesn't call the `GenericServicesSimpleSetup` method, which is where the exception is thrown in my application.
It also calls `ReadManyNoTracked` as opposed to `ProjectFromEntityToDto`, which is what I have in my code.

[2020-05-25 07:52] JonPSmith commented on #47
Hi @marius-stanescu,

Glad that fixed it! On the test:
- `SetupSingleDtoAndEntities` runs the same entity/dto code that `GenericServicesSimpleSetup` does, so it would have hit your problem if I could set up the same entity/dto setup.
- The read was there to check that I had set it up properly, but it should have thrown an exception before this if I had set up the error case.

[2020-05-25 07:52] #47 closed

[2020-07-15 17:02] boradakash opened #49 "GenericService throws an error sometimes while using UpdateAndSaveAsync with method name"
This issue for the further investigation for the same issue we discussed via [Disqus](https://www.thereformedprogrammer.net/domain-driven-design-and-entity-framework-core-two-years-on/) .
 I'm using GenericService library and using DDD aproach and I'm trying to delete review using webapi.

But while calling method of GenericService as following:
`await service.UpdateAndSaveAsync(item, nameof(Book.

[2020-07-16 08:57] JonPSmith commented on #49
I'm not going to look at your code until the weekend, but that is a very specific error message which says either it couldn't find your  `RemoveReview` method (which I assume is there) OR the properties in your DTO doesn't match the `RemoveReview` parameters.

Have a look at that yourself first. If you think it does match then add the `RemoveReview` method to the issue

[2020-07-17 06:55] boradakash commented on #49
Hmm I think you're right.
I'm passing the following DTO to UpdateAndSaveAsync
[code]
But **RemoveReview** method is expecting
[code]

I thought GenericSerivce will fetch Review by ReviewId(from DTO) similar to IncludeThen but perhaps I was wrong.

So in this case I'll need to fetch the Review from item.ReviewId and then I need to pass it to UpdateAndSaveAsync(), right?
it the right approach or any

[2020-07-18 09:43] JonPSmith commented on #49
OK.

A GenericService Update will, by default, only load the specific entity class using the primary key(s) in your DTO. If you are using  a DDD approach and want to handle relationships (DDD aggregates) from the entity class you have two options:
1. Pass in your application's DbContext into your DDD method and use to change a relationship - see [this example](https://github.com/JonPSmith/EfCore.G

[2020-07-18 09:43] #49 closed

[2020-09-30 13:44] chrisbbe opened #50 "Question: Why is the DbContext initialized during registration"
Hi,

Why is the DbContext initialized during configuration of the service? This makes it hard to use GenericServices for DbContexts which overrides the `void OnConfigure(DbContextBuilder optionsBuilder)` method in situations where the DbContext is configured dynamically, ex. where the connection string is determined based on the UserClaims during an request.

Thanks

[2020-09-30 16:18] JonPSmith commented on #50
Hi @chrisbbe,

EfCore.GenericServices is designed to work with Dependency Injection (DI). Therefore the DbContext provided by the DI. That's why I have extension methods such as  `ConfigureGenericServicesEntities` to register your DTOs and the `CrudServices` and `CrudServicesAsync` services. ASP.NET Core is built around DI.

You have two options.
1. **Pass the claims to the DbContext via DI**. Thi

[2020-09-30 18:12] chrisbbe commented on #50
Thanks for the feedback.

All of this is clear to me. The reason I ask is that registering my DbContext with the GenericServices causes the DbContext constructor and OnConfigure(...) method to be executed during startup (before any user requests are hitting ASP.Net Core). While removing the GenericServices DI registration does not cause the DbContext to be executed. The issue here is that the ITen

[2020-10-01 07:50] JonPSmith commented on #50
hi @chrisbbe,

Yes, GenericServices has to scan the entities in the DbContext to link the DTOs to the entities. There is no way around that. But GenericServices doesn't query the database.

Not sure there is a solution - maybe a default, empty database?? Or maybe a valid database connection but no database on the other end?  As I said, there is a the new EF Core 5 feature about changing the connec

[2020-10-01 07:50] #50 closed

[2020-10-01 08:28] JonPSmith commented on #50
PS. I needed to research the new EF Core 5 feature about changing the connection string for chapter 11 in my book [Entity Framework Core in Action, second edition](https://bit.ly/EfCoreBook2). There is no documentation but a looking at the [commit related to this feaure](https://github.com/dotnet/efcore/commit/7c8248eec66f58fdfad3432cf69051f5b2621ad6) it does look useful.

The comments in the code

[2020-10-01 08:29] #48 closed

[2020-10-10 19:39] supremeboy18 opened #51 "How to replace a row in many to many relationship using generic services?"
How would you go about replacing a row in many to many relationship using generic services? The current behavior allows me to add a new row whenever I am trying to change it using a DTO.

I want a behavior similar to the test TestChangeAuthorsNewListOk in Ch03_ManyToManyUpdate of your book using generic services.

Thank you.

[2020-10-11 14:05] JonPSmith commented on #51
Hi @supremeboy18,

Firstly, the test TestChangeAuthorsNewListOk in Ch03_ManyToManyUpdate ADDS a new `BookAuthor` many-to-many linking class to a `Book` entity class, which adds another `Author` to the many-to-many relationships. If that is what you need then you could use `CreateAndSave<T>` method with a `BookAuthor` entity class or a DTO that mapped to the `BookAuthor` entity class.

If you reall

[2020-10-11 14:05] #51 closed

[2020-10-26 15:39] chrisbbe opened #52 "EF Core 5.0 Many-To-Many relationships not working"
Hi,

At first look, there seem to be issues with the new ManyToMany relationship feature in EF Core 5.0. The relationship mapping table is represented as Dictionary<string, object> in EF causing GenericServices to fail during the registration of entity classes.

Is this known?

[2020-10-26 15:52] chrisbbe commented on #52
One solution is to specify the `.UsingEntity<> `method to make it work, which maybe is good practice in the name of DDD anyway.

[](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew#many-to-many)

[2020-10-26 17:02] JonPSmith commented on #52
Hi @chrisbbe,

Yes, EfCore.GenericServices 3.2.2 works with EF Core 2 and EF Core 3 and it doesn't know anything about EF Core 5's property bags used for automatic many-to-many relationships. As you say, the  `.UsingEntity<>` config method to make to a normal entity class works.

Changing EfCore.GenericServices and my other libraries is going to be a big job and i won't start that until I have fin

[2020-11-06 15:21] JanKupke1 opened #53 "InvalidOperationException when saving an object that contains two properties that refer to the same object."
Good afternoon,

I have a problem using your service. The problem is that automapper always creates a new instance of an object, i.e. it makes two instances of one object.

I have done a lot of internet research, but I can't get to the point where it works for me.

As a summary, one can say that in the service:
entity = _mapper.Map<StudentClassEntity>(studentclass);
is used, but it should be _mapp

[2020-11-06 19:55] JonPSmith commented on #53
Thank you for taking the time to add your code.

The problem is that you have is because you are trying to create a entity with relationships. What was happening was it was creating NEW `HasTwoNormalEntity` (which you wanted) and NEW `NormalEntity` (which I'm sure isn't what you wanted). You then got an exception because the `NormalEntityDto` had the `Id` of the `NormalEntity` in the database so w

[2020-11-06 19:55] #53 closed

[2020-12-22 00:34] Lerseb opened #54 "ICrudServices for updating soft delete property using query filters"
Hi Jon,
Thanks for making this library available, it is awesome.

I am trying to change the flag "SoftDelete" to false (This entity has already been soft deleted).
I am able to "get" the Dto using a ProjectFromEntityToDto method with .IgnoreQueryFilters.
I change the value of the SoftDeleted property of this Dto (to false) and my Dto is correct.
When I use service.UpdateAndSave method on this Dto,

[2020-12-22 08:46] JonPSmith commented on #54
Hi @Lerseb,

No, sorry. The service.UpdateAndSave has to load the entity, and because the SoftDeleted flag is true it won't load it. You are going to write direct LINQ to handle that. Remember, if you have an instance of the `ICrudServices`/`ICrudServicesAsync` service it has a property called `Context` that contains the EF Core context.

PS. I am working on a library called  [EfCore.SoftDeleteSer

[2020-12-22 08:46] #54 closed

[2020-12-22 13:13] Lerseb commented on #54
Thanks Jon,
I hesitated to raise it as an issue but thanks to your answer I won't be looking for something that doesn't exist.
I will do it the old way.
I will follow your lead to move on to .net 5.0 and Ef Core 5.0 when it will be mature and the libraries will support it.
Thanks again for the great book, libraries and quick answers.

[2021-02-09 16:20] Lerseb opened #55 "ArgumentException: Type 'ObserVisionWeb.PaginatedList`1[MyDto]' does not have a default constructor (Parameter 'type')"
Hi Jon,
Your book and articles are awesome for a beginner like myself.
I am facing the issue in the title and I cannot find the problem because it happen in between the click on the razorpage <input> button and the beginning of the related method in my model (I put a breakpoint but never reached it).
I must be doing something wrong in my GenericServices or maybe AutoMapper setup.
I am using ReadMa

[2021-02-09 19:13] Lerseb commented on #55
My apologize, It was an issue with my PaginatedList. I replaced it with a standard List and it is working perfect.
Sorry
Seb

[2021-02-09 19:13] #55 closed

[2021-02-09 20:06] JonPSmith commented on #55
Hi @Lerseb,

Glad you found it. It's hard for me to debug this kind of thing from an exception.

One thing I was going to suggest for debugging is to writing the code using EF Core directly. That way you know that its not the library that is causing the problem.

[2021-02-10 22:42] Lerseb commented on #55
Thanks Jon

[2021-02-18 23:24] ComtelJeremy opened #56 "Conflict with AutoMapper v10.1.1, Throws Exception"
Hello Jon,

I received the following stack trace when I have AutoMapper 10.1.1 installed (latest).

[code]
I think it would be at [this line](https://github.com/JonPSmith/EfCore.GenericServices/blob/0e7e7e50a69124b77ceaecc79e8bd2cc75853594/GenericServices/Internal/MappingCode/CreateMapper.cs#L71) in your code.

Apparently there is a missing method in the new version of AutoMapper, it seems specifi

[2021-02-19 08:34] JonPSmith commented on #56
Hi @ComtelJeremy,

That is strange. There is a call to `CreateMapper().Map(dto, entity)` which has to be fundamental methods in AutoMapper.

I'll have a look, but I'm very busy so it won't be for a week or more.

PS. Please let me know which version of EfCore.GenericServices you are using.

[2021-02-24 14:29] JonPSmith commented on #52
Version 5.0.0 handles the new ManyToMany relationship feature in EF Core 5.0.

[2021-02-24 14:29] #52 closed

[2021-02-24 14:43] JonPSmith commented on #56
Note to self. The [AutoMapper 10.0 upgrade guide](https://docs.automapper.org/en/latest/10.0-Upgrade-Guide.html) talks about a change to `Context.Mapper.Map`. I don't use that but it sounds like that effects the code `_wrappedMapper.MapperSaveConfig.CreateMapper().Map(dto, entity);` in the class `CreateMapper`.

[2021-02-24 15:29] ComtelJeremy commented on #56
Hi @JonPSmith ,

I'm using 3.2.2, if that helps.

[2021-02-25 10:18] JonPSmith commented on #56
I just updated version 3.2.2 to latest AutoMapper and all the tests works. Clearly there is a problem I I need more info.

I think you will have to provide a complete console app containing your problem and I will have a look.

[2021-03-02 09:31] JonPSmith commented on #56
Hi @ComtelJeremy,

I haven't heard anything back and I can't fix it without some code from you that shows the problem. Therefore I'm closing this issue.

[2021-03-02 09:31] #56 closed

[2021-03-02 19:24] ComtelJeremy commented on #56
@JonPSmith,

 Sorry for the delay, and thanks for reminding me... We've been busy here rolling out our new release, and I didn't have a chance to try to repro it once I worked around it.

I can't recreate it now. My previous fix was simply to roll back AutoMapper, and all was good. But now when I update AutoMapper back (and expected it to cause the issue again) it doesn't throw... So strange, as n

[2021-03-03 08:30] JonPSmith commented on #56
Hi @ComtelJeremy,

No problem. Glad its sorted.

PS. One possible explanation is you had different AutoMapper versions across your projects.

[2021-04-28 17:41] cornonthecobb opened #57 "Issues using with Blazor Server"
Im curious if you have tested this library with Blazor server side. I run into issues using crud services in components where a crud service will return an error that gets handled correctly and added to the IStatusGeneric collection. I correct the error and resubmit but the same error is still present. I suspect this is likely due to how the dbcontext/crudservice is scoped to the lifetime of the c

[2021-04-28 18:44] JonPSmith commented on #57
Blazor server side has some limitations because of concurrent application's DbContext, and as you say you need to use `IDbContextFactory`. That rules out the usage of DI to provide the application's DbContext.

I would suggest you use [the code I use when writing unit tests](https://github.com/JonPSmith/EfCore.GenericServices/wiki/Unit-testing-your-code), e.g.

[code]

You can then use the `servic

[2021-04-28 19:42] cornonthecobb commented on #57
Thanks, I will take a look.

 I did some more investigating and found out that blazor server does not have a scope that works per request as things are tied to the component.

Microsoft offers a way to add scoped services to a component using @inherits OwningComponentBase which allows access to the DI container. I would basically have to create a new scope for each request I wanted to do to make i

[2021-04-29 13:09] JonPSmith commented on #57
The recommend way is to use `IDbContextFactory`, so I would use that. I assume you have looked at the docs on [EF Core and Blazor](https://docs.microsoft.com/en-us/aspnet/core/blazor/blazor-server-ef-core?view=aspnetcore-5.0), which I found very useful.

[2021-04-29 13:09] #57 closed

[2021-04-29 16:05] cornonthecobb commented on #57
Thanks, I am using the DbContext factory in the start up configure services.

[2021-06-16 17:19] ComtelJeremy commented on #56
Hi Jon,

FYI, this bit us again, this time it made it (due to some missed testing by us) to our Staging and Production (which is built using dev ops - so I know it isn't a nuget cache issue). It again seems to be limited to CreateAndSaveAsync. In this release we updated AutoMapper from 9.0.0 to the latest (10.1.1). It only seems to affect CreateAndSave and only when a dto is passed, not an entity

[2021-06-17 07:48] JonPSmith commented on #56
Hi @ComtelJeremy,

OK, I'm busy at the moment so it won't be a quick reply.

One question: are you using the version 3.2.2 or the 5.0.0?

[2021-06-17 16:45] ComtelJeremy commented on #56
Hi @JonPSmith, we are using 3.2.2, as we have not moved to 5 yet.

[2021-06-21 10:20] JonPSmith commented on #56
Hi @ComtelJeremy,

I had a look at it and its a weird bug when an new version of AutoMapper overrides a old version of AutoMapper. This is confirmed by Version 5.0.0 which uses AutoMapper 10.1.1 with not problem. If the unit test had AutoMapper 10.1.1 and GenericServices had AutoMapper 9.0.0 it fails. If both have AutoMapper 10.1.1 it works.

I have released version 3.3.0 using AutoMapper 10.1.1.

[2021-06-21 16:02] ComtelJeremy commented on #56
@JonPSmith Thank you for checking it out. We will try it shortly.

[2021-06-22 17:50] ComtelJeremy commented on #56
@JonPSmith, this fixes the issue! Thank you again. And just in time... since your comment and release we had one other area where this showed up in Production, and the 3.3.0 corrected it with no other code changes! 👍🏻

[2021-07-07 00:49] rcdailey commented on #57
My hesitation (and dislike) in using `IDbContextFactory` is the manual disposal of the context. Basically:

- Do I create one context per CRUD operation, save, and dispose?
- Do I move the context scope "up" a level to "batch" various actions together, save, and then dispose?

Maybe there are more options. But both of these have downsides. The second one has performance benefits but the downside i

[2021-07-07 07:52] JonPSmith commented on #57
Hi @rcdailey,

I think your comments are about Blazor and EF Core rather than on EfCore.GerericServices because you can't "batch" calls to EfCore.GerericServices. Using EF Core in Blazor front-end code has to be written quite carefully because EF Core's `DbContext` is not thread-safe.

I haven't used Blazor (I'm mainly a back-end developer), but if I did I would create a back-end API as you descri

[2021-07-07 14:20] cornonthecobb commented on #57
I agree that using WASM would be the best solution. For times sake, I ended up using Blazor's [OwningCoponentBase ](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-5.0&pivots=webassembly#utility-base-component-classes-to-manage-a-di-scope )class to basically implement a service locator pattern to get by for now.

The usage of what Im doing is t

[2021-07-23 16:58] RejectKid opened #58 "Not sure if issue or working as intended"
Per your Book example with the IncludeThen.  When I do a `genericService.ReadSingleAsync<Book>(id);` am i to expect the list of Reviews to come with it as well? or is this only for the saving bit?

[2021-07-23 20:40] chrisbbe commented on #58
No, `Task<T> ReadSingleAsync<T>(params object[] keys)` will not load related entities per se.

You could use `IQueryable<T> ReadManyNoTracked<T>()` like this:

[code]

to load the book with reviews in one DB round trip. I myself miss support for `[IncludeThen(nameof(Book.Reviews))]` on the DTO for `ReadSingleAsync<T>`. This should be possible to implement, right @JonPSmith ?

[2021-07-24 08:20] JonPSmith commented on #58
Hi @RejectKid,

@chrisbbe is correct than `ReadSingleAsync<T>` doesn't use the `IncludeThen` attribute. That's because the DTO readd allow you  allows you to map relationships. In my unit tests I map all the Author's name when reading a book. Below are links to this unit test and its DTO and config.

- Unit Test: [TestReadSingleCollectionAuthors](https://github.com/JonPSmith/EfCore.GenericServices

[2021-07-24 08:20] #58 closed

[2021-09-29 11:59] naujoks-stefan opened #59 "of type 'System.DBNull' to type 'System.DateTime'"
Hallo Jon,

after reading your book, i was thrilled with your approach. Now I've created a simple project for myself, starts properly. I have an entity with a property of the DateTime? Type. I get the exception:
 An unhandled exception has occurred while executing the request.
      System.InvalidCastException: Unable to cast object of type 'System.DBNull' to type 'System.DateTime'.
         at My

[2021-09-30 07:43] JonPSmith commented on #59
Hi @naujoks-stefan,

This looks like an EF Core / database issue, not a GenericServices issue. Looks like your database column isn't nullable.

[2021-09-30 07:43] #59 closed

[2022-01-31 13:03] Akku-21 opened #60 "SetupEntitiesDirect fails if one uses records in the entities"
[code]

[code]

will fail with
The class Reference was not found in the TestCtx DbContext. The class must be either be an entity class derived from the GenericServiceDto/Async class.

[2022-01-31 16:03] JonPSmith commented on #60
hi @Akku-21,

The definition of your `entity` and `Reference` are fine, so it must be the way you are accessing them using GenericServices.

The error you list suggests you have a DTO linked to the `Reference` class, e.g `class SomeClass LinkToEntity<Reference> { ...`, but you don't need a link an Owned Type as when your `entity` is loaded if your DTO has a `public Reference Object { get; set; }`

[2022-02-01 09:50] JonPSmith commented on #60
Are you saying that net6 isn't working? Have you updated to version 5.1.0 of the GenericServices library?

[2022-02-01 11:14] Akku-21 commented on #60
yes that is what I am saying. I made a small app from scratch to test it. here are the results:

`    public class entity
    {
        [Key]
        public long Id { get; set; }
        public Reference Object { get; set; }
        public Reference Object2 { get; set; }
    }

    [Owned]
    public record Reference
    {
        [StringLength(50)]
        public string Type { get; set; }
    }`

[2022-02-01 14:30] JonPSmith commented on #60
Interesting. I have reproduced this error in this [test](https://github.com/JonPSmith/EfCore.GenericServices/blob/master/Tests/UnitTests/TestIssues/TestIssue60.cs). I will work on it, but I have other things so might be some days.

[2022-02-02 11:34] JonPSmith commented on #60
Hi @Akku-21,

That was an interesting problem caused to the `IEntityType` for an Owned Type class changed in EF Core 6. I'm now using the `IsOwned` type which came out in EF Core 5.

[2022-02-02 11:34] #60 closed

[2022-02-03 10:15] Akku-21 opened #61 "Not compatible with Automapper 11.0.0"
Hi there,

I just wanted to let you know, that your latest release 5.1.1 is not compatible with Automapper v 11.0.0.

regards Jan

[2022-02-03 10:23] JonPSmith commented on #61
What do you mean by "...not compatible with Automapper v 11.0.0"? Does it no compile, or fails when used?

[2022-02-03 10:57] Akku-21 commented on #61
It compiles but throws in service registration with a
Method not found: 'Void AutoMapper.Profile.ForAllPropertyMaps... Exception.

regards Jan

[2022-02-03 11:39] JonPSmith commented on #61
Difficult - AuthoMapper 11.0.0. doesn't support net6 - see [this](https://docs.automapper.org/en/latest/11.0-Upgrade-Guide.html).

Not going to look at that for a while, so use AuthMapper 10.1.1 for now.

[2022-07-03 07:03] Dimi1010 opened #62 "Causes application crash when used with Serilog bootstrap logger."
### Description:
When trying to implement a [two-state logger initialization with Serilog](https://github.com/serilog/serilog-aspnetcore#two-stage-initialization) the application builder throws the following exception on build.
[code]

The exception is not thrown when `builder.Services.GenericServicesSimpleSetup<>()` is not called.
The issue appears to be linked to the DI container being built twi

[2022-07-04 14:34] JonPSmith commented on #62
Hi @Dimi1010,

The change you want me to do isn't trivial and isn't a lot of people asking for this feature. I have others things to do so I'm not going to add this.

If you can work a way to add your feature works without breaking the current way it works I will look at it. Alternatively you can clone the code and create your own version.

[2022-07-04 14:40] Dimi1010 commented on #62
Alright, understandable. Closing this issue, but will leave it for the workaround if other people encounter similar problem.

[2022-07-04 14:40] #62 closed

[2022-10-18 18:09] kcaswick opened #64 "How do you configure an AutoMapper IGlobalFeature?"
I'm try to add [AutoMapper.Collection](https://github.com/AutoMapper/AutoMapper.Collection), but it requires being set as an IGlobalFeature on the IMapperConfigurationExpression, not in an individual map. I'm not seeing any way to inject configurations into the MapperReadConfig or MapperSaveConfig before it gets sealed.

[2022-10-19 07:37] JonPSmith commented on #61
Hi @Jerrill,

Sorry I missed your comment / PR - I must have been busy around the time an missed this. Sorry about that.

I will updating all my libraries to support NET7 and I will try your PR and see how it goes.

[2022-10-19 07:54] JonPSmith commented on #64
Hi @kcaswick,

When I update GenericServices to support NET7 I will see if there is a way to allow access to creation of the automapper mapping.

I should say that I don't plan to support the [AutoMapper.Collection](https://github.com/AutoMapper/AutoMapper.Collection) within the GenericServices code as it already quite complex for user to understand (and me to update). If that means that AutoMappe

[2022-10-19 16:07] kcaswick commented on #64
While you're making those updates, it would be nice if you also gave a "official" way to copy the mapper configurations for use outside GenericServices. (Currently I use GenericServices.**PublicButHidden**.IWrappedConfigAndMapper.MapperReadConfig.Profiles to get a list of the configured mappings and apply it to a new MapperConfiguration(), along with some additional mappings.)

I don't believe any

[2022-11-09 00:34] Jerrill opened #65 ".NET 7 released"
I'm evaluating .NET 7 now that it's officially released and have run into the following issue:

[code]

This is just the first one! There may be others.

Happy, November!

[2022-11-15 08:57] #65 closed

[2022-11-15 09:43] JonPSmith commented on #61
Hi @Jerrill,

Version 5.2.0 of this library is out with your PR. Thanks for your help.

[2022-11-15 09:43] #61 closed

[2022-11-15 09:45] JonPSmith commented on #64
Hi @kcaswick,

Sorry, but I haven't looked into adding access to the AuthMapper mapping in the new 5.2.0 version. I have eight libraries to update and some are complex, plus I am busy with other things.